#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input{
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
}
.button {
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #7cdc8b;
  font-weight:bold;
}

.button:hover {
  background-color: #ff8c00;
  font-size: medium;
}